@import "tailwindcss";
@config "../../tailwind.config.mjs";

@plugin "@tailwindcss/typography";

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: oklch(100% 0.00011 271.152);
    /* Text on top of primary should be dark */
    --primary-foreground: #0a0a0a;
    --secondary: #C8A97E;
    /* Text on top of secondary should be dark */
    --secondary-foreground: #0a0a0a;

    /* Stone color palette */
    --muted: oklch(0.268 0.007 34.298);
    --muted-foreground: oklch(0.97 0.001 106.424 / 0.7);
    --accent: oklch(0.268 0.007 34.298);
    --accent-foreground: oklch(1 0 0);
}

@theme inline {
    --font-serif: "Merriweather", serif;
    --font-sans: "Inter", sans-serif;

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

}

@layer base {
    html {
        font-family: var(--font-sans);
        color: var(--color-foreground);
        background-color: var(--color-background);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-serif);
        font-weight: 700;
    }

    body {
        min-height: 100vh;
        overflow-x: hidden;
    }
}

@layer utilities {
    .animate-pulse-slow {
        animation: pulse 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fade-in-up {
        animation: fadeInUp 0.8s ease-out forwards;
        opacity: 0;
        /* Star hidden */
    }

    .animate-bounce-slow {
        animation: bounce 3s infinite;
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    .animate-marquee {
        animation: marquee 30s linear infinite;
    }

    @keyframes shimmer {
        0% {
            background-position: 200% center;
        }

        100% {
            background-position: -200% center;
        }
    }

    .animate-shimmer {
        animation: shimmer 8s linear infinite;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}