---
import Hero from '@/components/hero.astro';
import Layout from '@/layouts/layout.astro';
import { getSinglePage } from '@/lib/content-parser.astro';
import type { GetStaticPaths } from "astro";
import type { CollectionEntry, ContentCollectionKey } from 'astro:content';

export const getStaticPaths = ( async () => {
    const pages = await getSinglePage("pages");
    
    const paths = pages.map((page) => ({
        params: {
            regular: page.slug,
        },
        props: { page },
    }));
    return paths;
}) satisfies GetStaticPaths;

export type Props = {
    page: CollectionEntry<"pages">
}

const { page } = Astro.props;
const { title, description} = page.data;
const { Content } = await page.render();
---

<Layout title={title}>
    <Hero heading={title} description={description} />
    <section class="relative w-full grid grid-cols-4 gap-x-4 md:grid-cols-8 lg:grid-cols-12 lg:gap-x-6 mx-auto max-w-7xl prose prose-light mb-24 break-words dark:prose-dark">
        <Content />
    </section>
</Layout>