---
import Layout from "@/layouts/layout.astro";
import type { Person, WithContext } from "schema-dts"
import Navbar from "@/components/navbar.astro"
import Footer from "@/components/footer.astro"

import Hero from "@/sections/hero.astro"


const metaData = {
    title: "Julian Koehn",
    summary: "I'm a software engineer, currently working at Astro.",
    get description() {
        return `${this.title} - ${this.summary}`
    },
}

const jsonLd: WithContext<Person> = {
    "@context": "https://schema.org",
    "@type": "Person",
    name: "Julian Koehn",
    alternateName: "Julian",
    description: metaData.summary,
    email: "me@julian.pro"
}

if (Astro.site) {
  jsonLd["@id"] = `${Astro.site}#identity`
  jsonLd.url = Astro.site.toString()
}

---
<Layout>
    <Hero />
    <section id="about" class="relative w-full py-24 mt-6 lg:mt-20 bg-blue-50">
        <div class="w-full max-w-7xl mx-auto px-6 lg:px-8">
            <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
                <div class="mx-auto w-full max-w-xl lg:mx-0">
                    <h2 class="font-sans font-semibold text-slate-950 text-3xl lg:text-6xl">Bringing Innovative Solutions to Life</h2>
                    <div class="mt-6 text-lg leading-8 text-gray-600">
                        <p>I'm Julian, a passionate full-stack developer, consultant, and coach driven to help companies succeed. I live and breathe code, designing tailored software, apps, and SaaS solutions from the ground up. My expertise spans everything from planning databases and architectures to coding front-end and back-end systems.</p>
                        <p>Beyond development, I help teams scale up through coaching and mentoring. I assist colleagues in advancing their skills and learning new languages like Golang. My leadership strengths build positive team cultures focused on growth.</p>
                        <p>On the infrastructure side, I handle complete IaaS setup with Terraform for AWS, Azure, and more. I can deploy entire Kubernetes clusters to support containerized services. My infrastructure skills combine with development knowledge to deliver comprehensive solutions.</p>
                        <p>I pride myself on bringing fresh ideas to make technology work for you. I rapidly prototype and test new concepts to find creative ways of overcoming challenges. My diverse set of talents allows me to architect robust, customized products that help your business reach the next level. Whether it's coaching colleagues or building infrastructure, I'm driven to excel and help you succeed.</p>
                    </div>
                </div>
                <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
                    logos
                </div>
            </div>
        </div>
    </section>
    
</Layout>