<section class="w-full bg-white px-5vw py-24 sm:py-32">
  <div class="max-w-8xl mx-auto w-full">
    <h2 class="text-3xl font-bold tracking-tight text-primary sm:text-4xl">
      Coding Insights
      <br />
       Enhance Your Skills
    </h2>
    <p class="text-primary max-w-xl leading-8 mt-6">
      My blog shares practical insights into mastering languages like Golang,
      Node.js, TypeScript, and React. Follow along with hands-on tutorials and
      in-depth articles to grow as a developer.
    </p>
  </div>
</section>
