<section class="w-full bg-white px-5vw py-24 sm:py-32">
  <div class="max-w-8xl mx-auto w-full">
    <h2 class="text-3xl font-bold tracking-tight text-primary sm:text-4xl">
        Coding Insights
        <br />
        Verbessere deine Skills
    </h2>
    <p class="text-primary max-w-xl leading-7 mt-6">
      Mein Blog teilt praktische Einsichten, um Sprachen wie Golang, Node.js, TypeScript und React
      zu meistern. Folge praktischen Tutorials und ausführlichen Artikeln, um als Entwickler zu wachsen.
    </p>
  </div>
</section>
