---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";

export const button = cva([
    'align-middle select-none font-sans font-bold text-center uppercase transition-all',
    'text-xs py-3 px-6 rounded-lg',
  "w-fit leading-normal font-semibold font-mono text-foreground",
], {
    variants: {
        variant: {
            primary: 'bg-gray-950 hover:bg-gray-950/80 text-white',
            secondary: 'bg-white text-black',
        }
    },
    defaultVariants: {
        variant: 'primary',
    },
});

export interface Props
  extends HTMLAttributes<"button">,
    VariantProps<typeof button> {}

const { class: className, variant = 'primary' } = Astro.props;
---

<button class={button({
    class: className,
    variant,
})}>
    <slot />
</button>