---
import Icon from 'astro-icon';
import Link from './link.astro';
import CoWorkingImage from "@/assets/images/coworking.jpg"
import { Image, Picture } from 'astro:assets';
---


<section class="w-full mx-auto px-5vw max-w-8xl mt-24 sm:mt-32 lg:mt-40 bg-gray-950 py-24 sm:py-32 overflow-hidden">
    <div class="mx-auto max-w-8xl lg:max-w-none">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="lg:pr-8 lg:pt-4">
                <div class="lg:max-w-lg">
                    <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">
                        Wir sind dein digitaler Problemlöser
                    </p>
                    <p class="mt-6 text-lg leading-8 text-gray-300">
                        Du brauchst Unterstützung bei der Entwicklung, dem Hosting oder der Optimierung deiner Webanwendung oder deines Online-Shops? Oder suchst du Hilfe bei der Erstellung deiner Marketingstrategie? 
                        
                      </p>
                      <p class="mt-6 text-lg leading-8 text-gray-300">
                        Als Netzwerk aus Freelancern und Agenturen haben wir für jede Aufgabe den passenden Experten für dich! 
                      </p>
                      <p class="mt-6 text-lg leading-8 text-gray-300">
                        Wir sind dein One-Stop-Shop für alles Digitale. Mit über 20 Jahren Erfahrung in den Bereichen Webentwicklung, SEO, Cloud und SaaS wissen wir, worauf es ankommt.
                      </p>
                      <p  class="mt-6 text-lg leading-8 text-gray-300">
                         Unser Motto: Wir lieben es, technische Probleme zu lösen und digitale Lösungen auf die Beine zu stellen. Dabei gehen wir immer mit der Zeit und setzen auf die neuesten Technologien. Also worauf wartest du noch? Lass uns ins Gespräch kommen und dein nächstes Digitalprojekt zum Erfolg führen!
                      </p>
                    <div class="mt-6 flex">
                        <Link variant="secondary" href="/contact">
                            Lass uns deine Herausforderung lösen!
                        </Link>
                    </div>
                </div>
            </div>
            <Image src={CoWorkingImage}
                alt="Bild von einem Büro mit Küche, mit Laptop, Kaffee und Notizbuch"
                class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-white/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
                width={940}
            />
        </div>
        
    </div>
</section>


<footer class="relative px-5vw print:hidden  pb-16 pt-16 dark:border-gray-600 mt-14">
    <div class="relative mx-auto grid max-w-8xl grid-cols-4 grid-rows-max-content gap-x-4 md:grid-cols-8 xl:grid-cols-12 xl:gap-x-6">
        <div class="col-span-full md:col-span-3 xl:row-span-2">
            <div class="text-xl font-medium md:text-2xl text-black dark:text-white">
                Julian Koehn
            </div>
            <p class="text-secondary mt-6 max-w-md text-2xl">
                Softwareentwickler, Consultant und Mentor.
            </p>
            <div class="text-secondary mt-6 flex items-center justify-between gap-4 xl:flex-col xl:items-start">
                <div class="flex gap-4">
                    <a class="p-1 rounded-lg transition-all flex items-center" target="_blank" href="https://www.linkedin.com/in/julian-koehn/" title="LinkedIn" rel="noopener noreferrer nofollow">
                        <Icon name="mdi:linkedin" class="w-6 h-6 my-[5px] text-gray-950" />                   
                    </a>
                    <a class="p-1 rounded-lg transition-all flex items-center" target="_blank" href="https://github.com/juliankoehn" title="GitHub Profile" rel="noopener noreferrer nofollow">
                        <Icon name="mdi:github" class="w-6 h-6 my-[5px] text-gray-950" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-span-2 md:col-start-8 md:mt-0">
            <p class="w-full text-center font-normal font-sans leading-8 lg:text-left max-w-md mt-3 lg:mt-0">
                <a href="https://statsy.com/share/julian.pro" target="_blank" rel="noopener noreferrer nofollow" title="A link to an external site performance analysis resource called Statsy">
                    <img alt="A badge showing the page's CO2 performace" height="50" loading="lazy" src={`https://statsy.com/api/badge?url=${Astro.url}`} width="220" decoding="async" class="dark:invert border rounded-xl">
                </a>
            </p>
        </div>
        <div class="col-span-2 md:col-start-10">
            <div class="text-lg font-medium text-black dark:text-white">
                Kontakt
            </div>
            <ul class="mt-4">
                <li class="py-1">
                    <a href="/contact" class="text-secondary underlined inline-block whitespace-nowrap text-lg hover:text-team-current focus:text-team-current focus:outline-none">
                        Email
                    </a>
                    
                </li>
                <li class="py-1">
                    <a
                        target="_blank" href="https://www.linkedin.com/in/julian-koehn/" title="LinkedIn"
                        rel="noopener noreferrer nofollow"
                        class="text-secondary underlined inline-block whitespace-nowrap text-lg hover:text-team-current focus:text-team-current focus:outline-none"
                    >
                        LinkedIn
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-span-full grid grid-cols-12 mt-12">
            <div
                class="col-span-full md:col-span-9 text-sm text-gray-500 dark:text-slate-500"
                itemscope
                itemtype="https://schema.org/Organization"
            >
                <span class="mr-4 font-semibold" itemprop="name">
                    Julian Koehn
                </span>
                <span
                    class="block mr-4 md:inline"
                    itemprop="address"
                    itemscope
                    itemtype="https://schema.org/PostalAddress"
                >
                    <span itemprop="streetAddress">Unterjörn 19a</span>,{' '}
                    <span itemprop="postalCode">24536</span>,{' '}
                    <span itemprop="addressLocality">Neumünster</span>
                </span>
            </div>
            <div class="col-span-full md:col-span-3 text-sm text-gray-500 dark:text-slate-500">
                <div class="w-full flex md:justify-end gap-4">
                    <a href="/datenschutz" class="underlined">
                        Datenschutz
                    </a>
                    <a href="/impressum" class="underlined">
                        Impressum
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</footer>
