---
import Icon from 'astro-icon';
import Link from './link.astro';

---

<section class="w-full mx-auto px-5vw max-w-8xl mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="rounded-3xl bg-gray-950 px-6 py-20 sm:mx-0 sm:py-32 md:px-12">
            <div class="mx-auto max-w-4xl">
                <div class="max-w-xl">
                    <h2 class="font-display text-3xl font-medium text-white [text-wrap:balance] sm:text-4xl">Erzähl mir von deinem Projekt</h2>
                    <div class="mt-6 flex">
                        <Link variant="secondary" href="https://www.linkedin.com/in/julian-koehn/">
                            Say Hej
                        </Link>
                    </div>
                    <div class="mt-10 border-t border-white/10 pt-10">
                        <h3 class="font-display text-base font-semibold text-white">office</h3>
                        <ul class="mt-6 grid grid-cols-1 gap-8 sm:grid-cols-2">
                            <li>
                                <address class="text-sm not-italic text-neutral-300">
                                    <strong class="text-white">Neumünster</strong><br>
                                    Unterjörn 19a<br>24536 Neumünster 
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="w-full isolate relative print:hidden pb-16">
    <div class="flex items-center flex-col">
        <div class="max-w-8xl w-full mx-auto box-border px-5vw mt-16">
            <div class="flex flex-col w-full lg:flex-row lg:justify-between lg:text-right text-center text-foreground">
                <div class="flex items-center flex-col lg:flex-row">
                    <p class="w-full text-center font-normal font-sans leading-8 lg:text-left max-w-md mt-3 lg:mt-0">
                        <a href="https://statsy.com/share/julian.pro" target="_blank" title="A link to an external site performance analysis resource called Statsy">
                            <img alt="A badge showing the page's CO2 performace" height="50" loading="lazy" src={`https://statsy.com/api/badge?url=${Astro.url}`} width="220" decoding="async" class="dark:invert border rounded-xl">
                        </a>
                    </p>
                </div>
                <div class="flex items-center justify-center flex-col-reverse flex-wrap lg:flex-row lg:justify-end lg:pt-0 pt-12">
                    <div class="lg:mt-0 mt-12">
                        <p class="text-sm font-mono">&copy; 2015-{ new Date().getFullYear()} by Julian Koehn. </p>
                        
                    </div>
                    <div class="flex lg:ml-4 gap-4">
                        <a class="shadow-fill px-4 py-2 rounded-lg border-2 border-black transition-all flex items-center" target="_blank" href="https://www.linkedin.com/in/julian-koehn/">
                            <Icon name="mdi:linkedin" class="w-6 h-6 my-[5px] text-gray-950" />
                           
                        </a>
                        <a class="shadow-fill px-4 py-2 rounded-lg border-2 border-black transition-all flex items-center" target="_blank" href="https://github.com/juliankoehn">
                            <Icon name="mdi:github" class="w-6 h-6 my-[5px] text-gray-950" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>