---
export type Props = {
    subtitle?: string;
    heading: string;
    description: string;
}
const { subtitle, heading, description} = Astro.props;

---

<section class="w-full bg-white px-5vw py-24 sm:py-32">
    <div class="max-w-8xl mx-auto w-full">
        <h1 class="text-3xl font-bold tracking-tight text-primary sm:text-4xl">
            {subtitle && (
                <span class="block font-display text-base font-semibold text-neutral-950">
                    {subtitle}    
                </span>
                <span class="sr-only"> - </span>
            )}
            <span class="text-3xl sm:text-4xl mt-6 max-w-5xl font-display">
                {heading}
            </span>
        </h1>
        <p class="text-primary max-w-xl leading-7 mt-6">
            {description}
        </p>
    </div>
</section>