---
import { Icon } from "astro-icon/components";
import cx from "clsx"
import { cva } from 'class-variance-authority';
import { primaryNav } from '@/config';


const navigationClasses = cva([
    // mobile
    'hidden max-lg:absolute max-lg:top-full max-lg:inset-x-0 max-lg:shadow max-lg:w-full gap-0 max-lg:overflow-auto max-lg:z-50',
    'max-lg:py-8 max-lg:bg-background',
    // desktop
    'lg:flex lg:items-center gap-8'])
---
<script>
    let initialized = false;

    function initialize() {

        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('#navbar-burger'), 0);

        $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            if (!$target) return;

            $target.classList.toggle('hidden');    
            });
        });
    }

    window.addEventListener("DOMContentLoaded", () => {
        if (!initialized) {
            initialize();
        }
    });

    document.addEventListener("astro:after-swap", () => {
        if (!initialized) {
            initialize();
        }
    });

</script>

<div class="px-5vw py-9 lg:py-12 relative">
    <div class="text-primary mx-auto flex max-w-8xl items-center justify-between">
        <div class="flex justify-center gap-4 align-middle">
            <a href="/" class="flex items-center justify-between lg:mr-3 lg:w-auto flex-row w-full underlined">
                <span class="font-sans font-semibold text-slate-950 select-none">Julian Koehn</span>
            </a>
        </div>
        <div class="flex lg:hidden">
            <button id="navbar-burger" data-target="primary-nav" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Open main menu</span>
                <Icon name="mdi:menu" class="h-6 w-6" />
            </button>
        </div>
        <nav id="primary-nav" class={cx(navigationClasses())}>
            {primaryNav.map((link) => (
                <a href={link.to} class="text-lg lg:text-sm block text-center w-auto py-px font-sans relative underlined">
                    {link.name}    
                </a>
            ))}
        </nav>
        <div class="hidden"></div>
       
    </div>  
</div>