---
const LINKS = [
    {
        name: 'Home',
        to: '/#top'
    },
    {
        name: 'About',
        to: '/#about'
    },
    {
        name: 'Blog',
        to: '/blog'
    }
    // {
    //     name: 'Projects',
    //     to: '/#projects'
    // },
    // {
    //     name: 'Contact',
    //     to: '/#contact'
    // },
]
---
<script>
    let width: string = "0%";

    const scrollHandler = () => {
        const scrollable = document.documentElement.scrollHeight - window.innerHeight;
        width = `${(window.scrollY / scrollable) * 100}%`;
        const el = document.querySelector('.page-scroll-progress') as HTMLElement
        if (el) {
            el.style.width = width;
        }

        // if the page is scrolled, we want to reduce padding on the nav
        const nav = document.querySelector('#nav-container') as HTMLElement
        if (nav) {
            if (window.scrollY > 0) {
                nav.classList.remove('py-9','lg:py-12')
            } else {
                nav.classList.add('py-9','lg:py-12')
            }
        }
    };

    document.addEventListener('scroll', scrollHandler)
</script>

<div id="nav-container" class="px-5vw py-9 transition-all sticky top-1 z-50">
<div class="text-primary mx-auto max-w-8xl flex items-center justify-between">
    <div class="bg-white border-2 border-black sticky-border w-full print:hidden p-4 xl:px-10">
        <div class="page-scroll-progress" />
        <div class="w-full mx-auto print:hidden">
            <div class="flex justify-between">
                <a href="/" class="flex items-center justify-between lg:mr-3 lg:w-auto flex-row w-full underlined">
                    <span class="font-mono font-semibold text-slate-950 select-none">Julian Koehn</span>
                </a>
                <div id="desk-nav" class="flex items-center">
                    <nav class="flex gap-x-6 lg:gap-x-12">
                        {LINKS.map((link) => (
                            <a href={link.to} class="text-sm block text-center w-auto py-px font-mono relative underlined">
                                {link.name}    
                            </a>
                        ))}
                        
                    </nav>
                </div>
                <div> </div>
            </div>
        </div>
    </div>
</div>
</div>