---
import Button from "@/components/button.astro"
import cloudServer from "./cloud_server.svg"
import Link from '@/components/link.astro';
---

<section class="relative isolate items-center w-full justify-start mt-6 box-border mx-auto px-3 lg:mt-20 pb-20">
    <div class="mx-auto max-w-7xl lg:grid lg:grid-cols-2 lg:gap-x-8 px-6 lg:px-8">
        <div class="px-6 lg:px-0 lg:pt-4 grid items-center">
            <div>
                <span class="font-bold leading-relaxed text-lg md:text-xl">Hey 👋 I'm</span>
                <h1 class="font-sans font-semibold text-secondary-background text-3xl lg:text-7xl">
                    <span>Julian K&ouml;hn</span>
                </h1>
                <p class="mt-4 text-lg lg:mb-2 lg:mt-4 lg:text-2xl">
                    Bringing your business into the digital age through innovative strategies and seamless execution.
                </p>
                <div class="flex gap-8 mt-6">
                    <Link href="/about" >
                        Say Hello
                    </Link>
                    <Link href="https://www.linkedin.com/in/julian-koehn/" target="_blank">
                        Contact
                    </Link>
                </div>
            </div>
        </div>
        <div class="mt-16 sm:mt-24 lg:flex-shrink-0 lg:flex-grow">
            <img class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl" src={cloudServer.src} width={cloudServer.width} height={cloudServer.height} />
        </div>
    </div>
</section>